body{
margin:0;
padding:0;
background:black
}


body * {  border: 0px solid red; }
div { width: ; height: ; }
section { display: grid;
  grid-template-columns: 80px,80px,320px;
  grid-template-rows: 110px,20px,110px;
  grid-row-gap: 0px;
  grid-column-gap: 0px;

}


.yellow{
  background:yellow;

}



.blue{
  background:blue;
}










}
